
@media all and (max-width: 1400px) and (min-width: 336px) {
    .px-5 {
        padding-right: 1rem!important;
        padding-left: 1rem!important;
    }
}
@media all and (max-width: 576px) and (min-width: 336) {
    .w-25 {
        width: 100%!important;
    }
    
}